/data/es/data/node1/*
!/data/es/data/node1/.gitkeep

/data/es/data/node2/*
!/data/es/data/node2/.gitkeep

/data/grafana/data/*
!/data/grafana/data/.gitkeep

/data/influxdb/data/*
!/data/influxdb/data/.gitkeep

/data/mysql/data/*
!/data/mysql/data/.gitkeep

/data/redis/data/*
!/data/redis/data/.gitkeep

*.DS_Store
